.{prefix}-divider
    &:where(hr)
        border-color rgb(var(--gray-2) \/ 0.4)
    &:where(div)
        padding-top calc(var(--height-divider, 4em) / 2)
        margin-bottom calc(var(--height-divider, 4em) / 2)
        overflow hidden
        --box-shadow-color var(--gray-6)
        box-shadow var(--box-shadow-divider-bottom)
    &:where(span)
        display inline-block
        vertical-align middle
        height 1em
        padding-left calc(var(--width-divider, 2em) / 2)
        margin-right calc(var(--width-divider, 2em) / 2)
        --box-shadow-color var(--black)
        box-shadow var(--box-shadow-divider-right)
